body{
    background-image: url(biooo.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 300vh;

}
.container{
    margin:40px auto;
    border: 4px solid rgb(42, 204, 96);
    align-items: center;
    width: 500px;
    border-radius: 6px;
    border: none;
    
}
header{
    text-align: center;
    /* background-color: aqua; */
    margin-bottom: auto;
    color: rgb(0, 255, 179);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    
}
footer{
    text-align: center;
    /* background-color: aqua; */
    width: 100%;
    margin-top: 0px;
    
    
}
   
main{
    padding: 10px;
    margin: 0px;
    /* background-color: black; */
    color: white;
    
}
.label{
    margin-top: 0px;
    
}
header p{
    padding: 6px;
    margin-bottom: 0px;
}
marquee{
    color: rgb(0, 255, 179);
    cursor: pointer;
    font-size: 30px;
}
marquee:hover{
    text-decoration: underline;
    color: yellow;
}
.me h4{
    margin-top: 0px;
    color: white;
    text-decoration: none;
}
.me:hover{
    color: red;
    background-color: red;
}
/* img{
    width: auto;
    height: 50px;
    margin-bottom: 0px;
    display: flex;
} */
/* .sec-2{
    display: flex;
} */
ul{
    display: inline-block;
}
img{
    width: 100%;
    height:100%;
    
} 

.img-container{
    width:350px;
    height: 320px;
    display: inline-block;
    margin-left:40px;
    padding: 4px;
    margin-bottom: 10px;
    
}
.change{
    display: flex;
}
.change li{
    padding: 30px;
    font-size: 20px;
}
.ht{
    background-color: rgb(16, 17, 17);
    height: 1px;
    margin-bottom: 20px;
    border: none;
    margin-top: 0px;
    
}
.cs{
    background-color: rgb(16, 17, 17);
    height: 1px;
    margin-bottom: 20px;
    border: none;
    margin-top: 0px;
    
}
.ja{
    background-color: rgb(16, 17, 17);
    height: 1px;
    margin-bottom: 20px;
    border: none;
    margin-top: 0px;
    
}
.no{
    background-color: rgb(16, 17, 17);
    height: 1px;
    margin-bottom: 20px;
    border: none;
    margin-top: 0px;
    
}
.link{
    font-size: 25px;
}
.link>label{
    color: rgb(0, 255, 179);
    
}
.you{
    color: rgb(214, 208, 124);
}

